@import "font.css";

/* Global */
:root {
    /* colors */
    --color--dark-black: #050A21;
    --color--white: #fff;
}

/* Universal tags */
body {
    margin: 0;
    text-align: center;
    background-color: var(--color--dark-black);
}

button {
    cursor: pointer;
}

.hide {
    display: none;
}

/* background */

.game {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 900px;
    height: 500px;
    background: url(static/img/game_background.png) center/cover;
    margin: auto;
}


/* game-header */
.count_menu {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game__timer {
    display: flex;
    color: var(--color--white);
    font-size: 20px;
    border: solid 2px;
    border-radius: 3px;
    font-family: 'Press Start 2P', cursive;
    margin: 20px 10px;
    padding: 10px 25px;
    visibility: hidden;

}

.game__score {
    display: flex;
    color: var(--color--white);
    font-family: 'Press Start 2P', cursive;
    margin: 5px;
    padding: 15px 10px;
    border: solid 2px;
    border-radius: 50%;
    visibility: hidden;
}

.stop_btn {
    position:absolute;
    right: 30px;
    top: 20px;
    width: 45px;
    height: 45px;
    font-size: 20px;
    background-color: transparent;
    border-color: var(--color--white);
    border-radius: 3px;
    border: solid 2px var(--color--white);
    color: var(--color--white);
    font-family: 'Press Start 2P', cursive;
    visibility: hidden;
}

/* game-field */

.game__field {
    position:relative;
    width: 100%;
    height: 100%;
}

.start_btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.start_btn {
    position: absolute;
    top: 35%;
    text-align: center;
    width: 150px;
    height: 45px;
    font-size: 15px;
    background: none;
    color: var(--color--white);
    border-color: var(--color--white);
    border-radius: 3px;
    font-family: 'Press Start 2P', cursive;
    visibility: visible;
}

.start_btn:hover {
    transform: scale(1.1);
}

/* pop-up */

.pop-up {
    width:150px;
    margin: auto;
    text-align: center;
    width:150px;
    padding: 30px 50px;
    background-color: var(--color--white);
    background: rgba(0, 0, 0, 0.7);
    border: solid 2px var(--color--white);
    border-radius: 3px;
    transform: translateY(-120%);
}

.pop_up_btn {
    border: none;
    background: none;
    font-size: 50px;
    color: var(--color--white);
    margin: 10px;
    transition: all 300ms ease-in;
}

.pop_up_btn:hover {
    color: #fef84a;
    transform: scale(1.1);
}

.pop_up_contents {
    font-size: 20px;
    line-height: 30px;
    color: var(--color--white);
    font-family: 'Press Start 2P', cursive;
}

/* character */

.cat,
.alien {
    transition: transform 100ms ease-in;
}

.cat:hover,
.alien:hover {
    transform: scale(1.1);
}